<div class="container">
  <h1>Employee</h1>
  <div class="row">
    <div class="col-lg-6">
      <employee-form></employee-form>
    </div>
    <div class="col-lg-6">
      <div class="col-lg-6 mx-auto mt-4 rounded p-4 text-white bg-secondary">
        <div>
          <span>Name :</span>
          <span class="ms-2">{{ employee?.name }}</span>
        </div>
        <div class="mt-3">
          <span>Age :</span><span class="ms-2">{{ employee?.age }}</span>
        </div>
        <div class="mt-3">
          <span>Birth of date :</span
          ><span class="ms-2">{{ employee?.birthOfDate }}</span>
        </div>
        <div class="mt-3">
          <span>Address :</span
          ><span class="ms-2">{{ employee?.address }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
