<form [formGroup]="employeeForm" (ngSubmit)="submit()">
  <text-input
    formControlName="name"
    label="Name"
    [formControlError]="formErrors.name"
  ></text-input>
  <number-input
    class="mt-2"
    formControlName="age"
    [formControlError]="formErrors.age"
    label="Age"
    [minValue]="0"
  ></number-input>
  <date-input
    class="mt-2"
    formControlName="birthOfDate"
    [formControlError]="formErrors.birthOfDate"
    label="Birth of date"
  ></date-input>
  <text-input
    class="mt-2"
    formControlName="address"
    label="Address"
  ></text-input>
  <div class="float-end mt-3">
    <button class="btn btn-secondary" type="button" (click)="close()">
      close
    </button>
    <button type="submit" class="btn btn-primary ms-2">
      Add
      <!-- {{ employee?.id != null ? "Edit" : "Add" }} -->
    </button>
    <!-- <button
      *ngIf="employeeForm.dirty"
      type="button"
      (click)="reset()"
      class="btn btn-info ms-3 mt-3"
    >
      Reset
    </button> -->
  </div>
</form>
